* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Century Gothic';
  src: url('./Fonts/Century Ghothic/Century Gothic.ttf') format('truetype');
}

@import url(//db.onlinewebfonts.com/c/6c79f7fd645c0d39b4ca10428237984a?family=Azo+Sans);
@font-face {font-family: "Azo Sans"; src: url("//db.onlinewebfonts.com/t/6c79f7fd645c0d39b4ca10428237984a.eot"); src: url("//db.onlinewebfonts.com/t/6c79f7fd645c0d39b4ca10428237984a.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/6c79f7fd645c0d39b4ca10428237984a.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/6c79f7fd645c0d39b4ca10428237984a.woff") format("woff"), url("//db.onlinewebfonts.com/t/6c79f7fd645c0d39b4ca10428237984a.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/6c79f7fd645c0d39b4ca10428237984a.svg#Azo Sans") format("svg"); }
